<ion-tabs>
  <ion-tab-bar slot="bottom" class="cc-tab-bar">
    <ion-tab-button tab="dashboard">
      <ion-icon name="grid-outline" aria-hidden="true"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="announcements">
      <ion-icon name="megaphone-outline" aria-hidden="true"></ion-icon>
      <ion-label>Announcements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
